<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Acerca de')"></head>

<body>
<div class="container-fluid">
    <div class="container-fluid">
        <h1>Tienda de ropa</h1>
        <ul>
            <li>Integrantes del equipo </li>
            <li>- Francisco Fernández Ruiz</li>
            <li>- Juan Carlos Barbero Castejón</li>
            <li>- Noel Martinez Pomares</li>
            <li>- Adrian Rubio Candil</li>
        </ul>
    </div>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>