<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head (titulo='Metodo de pago')"></head>
<body>
<!-- Si el usuario está logueado, incluye el Navbar normal -->
<div th:if="${usuario != null}">
    <!-- Recuperamos el objeto "usuarios" que nos pasa el Controller y usamos sus atributos, pasandolos al NavBar -->
    <div th:replace="fragments :: navbar(userName=${usuario} ? ${usuario.getNombre()} : '',
                     userId=${usuario} ? ${usuario.getId()} : '',
                     admin=${usuario} ? ${usuario.isAdmin()} : '')"></div>
</div>

<!-- Si el usuario no está logueado, incluye el Navbar para no logueados -->
<div th:if="${usuario == null}">
    <div th:replace="fragments :: navbar_noLogueado"></div>
</div>
<h2 >Metodo de pago</h2>

</body>
</html>